.container
  .col-sm-8
    %h1= @movie.title
    %ul
      %li
        %b Year:
        = @movie.year
      %li
        %b Rated:
        = @movie.rated
      %li
        %b Released:
        = @movie.released
      %li
        %b Runtime:
        = @movie.runtime
      %li
        %b Genre:
        = @movie.genre
      %li
        %b Director:
        = @movie.director
      %li
        %b Writer:
        = @movie.writer
      %li
        %b Actors:
        = @movie.actors
      %li
        %b Plot:
        = @movie.plot
      %li
        %b Language:
        = @movie.language
      %li
        %b Country:
        = @movie.country
      %li
        %b Awards:
        = @movie.awards
  .col-sm-4= image_tag @movie.poster
